.pageWrapper {
    height: 100vh;
    background-color: beige;
}

.container {
    display: flex;
    flex-direction: column;
    place-items: center;
    padding: 60px 4px 4px 4px;
    margin: 0;
}

@media (min-width: 768px){
    .container {
        padding: 60px 16px 16px;
        flex-direction: row;
        flex-wrap: wrap;
    }
}