.fullHeightContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 16px;
    background-color: #f0f2f5;
}

.tableContainer {
    flex: 1;
    overflow: hidden;
}

.ant-table {
    height: max-content;
}

.ant-table-container {
    .ant-table-body,
    .ant-table-content {
        scrollbar-width: thin;
        scrollbar-color: #eaeaea transparent;
        scrollbar-gutter: stable;
    }
}

.ant-table-container::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.ant-table-container::-webkit-scrollbar-thumb {
    background-color: #eaeaea;
    border-radius: 4px;
}

.ant-table-container::-webkit-scrollbar-track {
    background: transparent;
}