.tabContainer {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 100px);
    gap: 16px;
}

.tab {
    overflow-y: auto;
}

.tab .ant-table-row {
    transition: background-color 0.3s ease;
}

.tab .selectedRow {
    background-color: #bae7ff !important;
}

.tab .selectedRow:hover {
    background-color: #bae7ff !important;
}

.controlSection {
    display: flex;
    justify-content: end;
    align-items: center;
}

.namespaceSelect {
    min-width: 200px;
}



