.module {
    all: unset;
}

.content {
    height: 70%;
    width: 100%;
    padding-left: 6px;
    padding-right: 6px;
}

.editorOptionsPanel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 10px 5px 10px;
}